body
{
    min-height: 100%;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', '黑体', serif;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
b
{
    letter-spacing: 3px;
}
div{
    margin: 0;
    padding: 0;
}

.outer-container
{
    max-width: 1920px;
}

.header
{
    max-width: 1920px;
    height: 621px;
    background-image: url(../pic/header.jpg);
    background-position: center;
}

.needinghelp-outer-container
{
    height: 986px;
}

.needinghelp-inner-container
{
    width: 1024px;
    margin: auto;
    padding: 3em 0 2em 0;
    font-size: 1.1em;
}

.needinghelp-paragraph
{
    width: 1014px;
    margin: 1em auto 1em auto;
}

.needinghelp-picture
{
    width: 1014px;
    height: 607px;
    margin: 3em auto 1em auto;
    background-image: url(../pic/needinghelp.jpg);
}

.scene-outer-container
{
    height: 1095px;
    background-color: RGB(255, 167, 157);
}

.scene-inner-container
{
    width: 1024px;
    margin: auto;
    padding: 2em 0 2em 0;
    font-size: 1.1em;
}

.scene-header
{
    width: 300px;
    height: 128px;
    background-image: url(../pic/logos.png);
    background-position: -298px -1164px;
    margin: 1.2em auto 1.5em auto;
    line-height: 128px;
    text-align: center;
    font-size: 2.7em;
}

.scene-paragraph
{
    width: 1014px;
    margin: 1em auto 1em auto;
}

.scene-picture
{
    width: 1014px;
    height: 551px;
    margin: 2em auto 2em auto;
    background-image: url(../pic/scene1.jpg);
}

.partition-outer-container
{
    height: 1100px;
}

.partition-inner-container
{
    width: 1024px;
    height: 1070px;
    margin: auto;
    font-size: 1.1em;
    background-image: url(../pic/logos.png);
    background-position: -10px -80px;
}

.partition-header
{
    width: 300px;
    height: 128px;
    margin: 1.5em auto 1.5em auto;
    line-height: 128px;
    text-align: center;
    font-size: 2.7em;
}
.partition-tunnel
{
    margin: 12px auto 36px 240px;
    font-size: 2em;
}
.partition-paragraph
{
    width: 600px;
    margin: 20px auto 20px 240px;
}

.partition-personal
{
    margin: 100px 0;
}

.partition-list
{
    width: 600px;
    margin: 38px auto 16px 220px;
    color: RGB(255, 150, 154);
}

.partition-item
{
    color: RGB(255, 150, 154);
    margin: 15px auto;
}

.partition-company
{
    margin-top: 210px;
}

.partition-link
{
    background-color: RGB(255, 150, 154);
    width: 285px;
    height: 56px;
    line-height: 56px;
    padding: 8px 12px 8px 36px;
    border-radius: 36px;
    margin: 14px 24px 0 240px;
    float: left;
}

.company-partition-description
{
    font-size: 2em;
    margin: 0;
    color: white;
}
.partition-description-container
{
    margin: 56px 0;
}

.partition-description
{
    margin: 10px;
}
.outer-footer
{
    background-color: RGB(255, 167, 157);
    height: 1577px;
    color: white;
}
.inner-footer
{
    width: 1024px;
    margin: auto;
    padding: 40px 0;
}
.footer-header
{
    font-size: 2.4em;
    text-align: center;
    margin: 25px 0 60px;
}
.cooperation-ngo
{
    height: 420px;
}

.ngo-table
{
    margin: 0 0 56px;
    width: 960px;
    margin-left: 70px;
}
.ngo-table td
{
    padding: 10px 0;
}
.footer-center
{
    text-align: center;
}

.division
{
    border: dashed 2px;
}
.cooperation-company
{
    height: 378px;
    padding: 80px 0;
}

.company-logo
{
    width: 1024px;
    height: 80px;
    margin: 80px auto 80px;
    background-image: url(../pic/logos.png);
    background-position: -22px -1342px;
}
.share-link
{
    width: 140px;
    height: 30px;
    line-height: 30px;
    background-color: red;
    padding: 8px;
    border-radius: 23px;
    text-align: center;
}

.qq
{
    width: 30px;
    height: 30px;
    background-image: url(../pic/logos.png);
    background-position: -176px -1449px;
    float: left;
}

.weibo
{
    width: 30px;
    height: 30px;
    background-image: url(../pic/logos.png);
    background-position: -41px -1449px;
    float: left;
}

.weixin
{
    width: 30px;
    height: 30px;
    background-image: url(../pic/logos.png);
    background-position: -105px -1449px;
    float: left;
}