body
{
    min-height: 100%;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', '黑体', serif;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 100%;
}
b
{
    letter-spacing: 3px;
}
div{
    margin: 0;
    padding: 0;
}

.outer-container
{
    max-width: 1920px;
}

.header
{
    max-width: 1920px;
    height: 621px;
    background-image: url(../pic/header.jpg);
    background-position: center;
}

.fluctuate-border
{
    position: relative;
    height: 22px;
    background-image: url(../pic/logos.png);
    background-position: 0 -1504px;
    top: 605px;
}
.needinghelp-outer-container
{
    height: 986px;
    background-image: url(../pic/paper.jpg);
    background-repeat: round;
    box-shadow: 0 0 20px black;
    position: relative;
    z-index: 9;
}

.needinghelp-inner-container
{
    width: 1024px;
    margin: auto;
    padding: 3em 0 2em 0;
    font-size: 1.1em;
}

.needinghelp-paragraph
{
    width: 1014px;
    margin: 1em auto 1em auto;
}

.needinghelp-picture
{
    width: 1014px;
    height: 607px;
    margin: 3em auto 1em auto;
    background-image: url(../pic/needinghelp.jpg);
}

.scene-outer-container
{
    height: 1095px;
    background-color: RGB(255, 167, 157);
    overflow: hidden;
    position: relative;
    z-index: 6;
}

.color-cloth-1
{
    background-color:RGB(255, 150, 154);
    width: 3000px;
    height: 3000px;
    z-index: 1;
    position: absolute;
    top: 600px;
    left: -2000px;
    transform: rotate(40deg);
    -ms-transform: rotate(40deg);		/* IE 9 */
    -webkit-transform: rotate(40deg);	/* Safari and Chrome */
    -o-transform: rotate(40deg);		/* Opera */
    -moz-transform: rotate(40deg);		/* Firefox */
}

.color-cloth-2
{
    background-color:RGB(255, 150, 154);
    width: 3000px;
    height: 3000px;
    z-index: 2;
    position: absolute;
    top: 600px;
    transform: rotate(80deg);
    -ms-transform: rotate(80deg);		/* IE 9 */
    -webkit-transform: rotate(80deg);	/* Safari and Chrome */
    -o-transform: rotate(80deg);		/* Opera */
    -moz-transform: rotate(80deg);		/* Firefox */
}

.scene-inner-container
{
    width: 1024px;
    margin: auto;
    padding: 2em 0 2em 0;
    font-size: 1.1em;
    z-index: 3;
    position: relative;
}

.scene-header
{
    text-indent: -9999px;
    width: 300px;
    height: 128px;
    background-image: url(../pic/logos.png);
    background-position: -298px -1164px;
    margin: 1.2em auto 1.5em auto;
    line-height: 128px;
    text-align: center;
    font-size: 2.7em;
}

.scene-paragraph
{
    width: 1014px;
    margin: 1em auto 1em auto;
}

.scene-picture
{
    width: 1014px;
    height: 551px;
    margin: 2em auto 2em auto;
    background-image: url(../pic/scene1.jpg);
}

.partition-outer-container
{
    height: 1140px;
    background-image: url(../pic/paper.jpg);
    background-repeat: round;
    box-shadow: 0 0 20px black;
    position: relative;
    z-index: 9;
}

.partition-inner-container
{
    width: 1024px;
    height: 1070px;
    margin: auto;
    padding: 60px 0 0;
    font-size: 1.1em;
    background-image: url(../pic/logos.png);
    background-position: -10px -20px;
}

.partition-header
{
    text-indent: -9999px;
    width: 300px;
    height: 128px;
    margin: 0 auto 60px auto;
    line-height: 128px;
    text-align: center;
    font-size: 2.7em;
}
.partition-tunnel-personal
{
    text-indent: -9999px;
    margin: 12px auto 36px 240px;
    width: 250px;
    height: 38px;
    font-size: 2em;
    background-image: url(../pic/logos.png);
    background-position: -37px -1560px;
}
.partition-tunnel-company
{
    text-indent: -9999px;
    margin: 12px auto 36px 240px;
    width: 250px;
    height: 38px;
    font-size: 2em;
    background-image: url(../pic/logos.png);
    background-position: -315px -1557px;
}
.partition-paragraph
{
    width: 600px;
    margin: 20px auto 20px 240px;
}

.partition-personal
{
    margin: 80px 0;
    height: 370px;
}

.partition-list
{
    width: 600px;
    margin: 38px auto 16px 220px;
    color: RGB(255, 150, 154);
}

.partition-item
{
    color: RGB(255, 150, 154);
    margin: 15px auto;
}

.partition-company
{
    margin-top: 170px;
}

.partition-link
{
    background-color: RGB(255, 150, 154);
    width: 285px;
    height: 56px;
    line-height: 56px;
    padding: 8px 12px 8px 36px;
    border-radius: 36px;
    margin: 14px 24px 0 240px;
    float: left;
}

.partition-link:hover
{
    cursor: pointer;
}
.company-partition-description
{
    text-indent: -9999px;
    font-size: 2em;
    margin: 0;
    color: white;
    width: 320px;
    height: 48px;
    background-image: url(../pic/logos.png);
    background-position: -598px -1550px;
}
.partition-description-container
{
    margin: 56px 0;
}

.partition-description
{
    margin: 10px;
}
.outer-footer
{
    background-color: RGB(255, 167, 157);
    height: 1470px;
    color: white;
    overflow: hidden;
    position: relative;
}

.color-cloth-3
{
    background-color:RGB(255, 150, 154);
    width: 3000px;
    height: 3000px;
    z-index: 1;
    position: absolute;
    top: 538px;
    left: -1000px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);		/* IE 9 */
    -webkit-transform: rotate(7deg);	/* Safari and Chrome */
    -o-transform: rotate(7deg);		/* Opera */
    -moz-transform: rotate(7deg);		/* Firefox */
}

.color-cloth-4
{
    background-color:RGB(255, 150, 154);
    width: 3000px;
    height: 3000px;
    z-index: 2;
    position: absolute;
    top: 600px;
    left: 800px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);		/* IE 9 */
    -webkit-transform: rotate(45deg);	/* Safari and Chrome */
    -o-transform: rotate(45deg);		/* Opera */
    -moz-transform: rotate(45deg);		/* Firefox */
}
.inner-footer
{
    width: 1024px;
    margin: auto;
    padding: 40px 0;
    position: relative;
    z-index: 3;
}
.footer-header-ngo
{
    text-indent: -9999px;
    font-size: 2.4em;
    text-align: center;
    margin: 25px auto 60px;
    width: 240px;
    height: 48px;
    background-image: url(../pic/logos.png);
    background-position: -48px -1643px;
}
.footer-header-company
{
    text-indent: -9999px;
    font-size: 2.4em;
    text-align: center;
    margin: 25px auto 60px;
    width: 240px;
    height: 48px;
    background-image: url(../pic/logos.png);
    background-position: -338px -1643px;
}
.footer-header-share
{
    text-indent: -9999px;
    font-size: 2.4em;
    text-align: center;
    margin: 25px auto 60px;
    width: 400px;
    height: 48px;
    background-image: url(../pic/logos.png);
    background-position: -690px -1643px;
}
.cooperation-ngo
{
    height: 420px;
}

.ngo-table
{
    margin: 0 0 56px;
    width: 960px;
    margin-left: 70px;
}
.ngo-table td
{
    padding: 10px 0;
}
.footer-center
{
    text-align: center;
}

.division
{
    border-top: dashed 2px;
}
.cooperation-company
{
    height: 378px;
    padding: 80px 0;
}

.company-logo
{
    width: 1024px;
    height: 80px;
    margin: 80px auto 80px;
    background-image: url(../pic/logos.png);
    background-position: -22px -1342px;
}

.share
{
    text-align: center;
}
.share-link-container
{
    width: 360px;
    margin: auto;
}

.share-link
{
    width: 140px;
    height: 30px;
    line-height: 30px;
    background-color: RGB(237 , 71, 61);
    padding: 8px;
    border-radius: 23px;
    text-align: center;
    display: block;
    margin: 12px;
    float: left;
}

.true-link:hover
{
    cursor: pointer;
}

.qq
{
    width: 30px;
    height: 30px;
    background-image: url(../pic/logos.png);
    background-position: -176px -1449px;
    float: left;
}

.weibo
{
    width: 30px;
    height: 30px;
    background-image: url(../pic/logos.png);
    background-position: -41px -1449px;
    float: left;
}
.zero
{
    width: 0;
    height: 0;
}

#wbclick1{
    opacity: 0;
    position: relative;
    top: -25px;
    display: block;
    cursor: pointer;
}
#wbclick2{
    opacity: 0;
     position: relative;
     top: -65px;
     left: 65px;
     display: block;
     cursor: pointer;
 }

.qrcode-container
{
    width: 500px;
    margin: 40px auto;
}
.qrcode-description
{
    width: 168px;
    display: inline-block;
    margin: 0 12px;
}
.qrcode-text
{
    margin: 0;
}
.weixin
{
    width: 30px;
    height: 30px;
    background-image: url(../pic/logos.png);
    background-position: -105px -1449px;
    float: left;
}
.qrcode
{
    width: 144px;
    height: 144px;
    display: inline-block;
    background-color: black;
}

.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}

.clearfix
{
    *zoom: 1;
}